body {
    padding-top: 56px; /* Adjust according to navbar height */
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom: 1px solid #dee2e6;
}
.sidebar {
    position: fixed;
    top: 30px;
    bottom: 0;
    left: 0;
    padding: 40px 20px 20px 20px;
    background-color: #f8f9fa;
    border-right: 10px solid #dee2e6;
}
.content {
    margin-left: 150px;
    padding: 20px;
    overflow-y: auto;
}

.search-form {
    width: 500px;
    margin: 0 auto;
}
.logout-btn {
    margin-right: 20px;
}
